@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

.dropdown-menu.bg-dark .dropdown-item {
    color: white !important;
    background-color: transparent !important;
}

.dropdown-menu.bg-dark .dropdown-item:hover,
.dropdown-menu.bg-dark .dropdown-item:focus {
    color: black !important;
    background-color: white !important;
}
    
body {
    background-color: #f5f5f5;
}

